.nav {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 1rem;
    background: #333;
}

.logoLink {
    text-decoration: none;
}

.logo {
    height: 150px; 
    width: auto;
}


.links {
    display: flex;
    gap: 1rem;
}

.links a {
    color: yellow;
    text-decoration: none;
}
